<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= user.account_id %>
  </p>

  <p>
    <strong>Timezone:</strong>
    <%= user.timezone %>
  </p>

</div>
